<div class="companies-wrapper">
  <% if @companies.any? %>
    <% @companies.each do |company| %>
      <div class="company-card">
        <div class="brand-name"><%= link_to company.brand_name, company_path(company) %></div>
        <div class="email-domain"><%= company.email_domain %></div>
      </div>
    <% end %>
  <% else %>
    <div class="empty-warn">No companies registered</div>
  <% end %>
</div>