<div class="companies-wrapper">
  <% if @companies.any? %>
    <% @companies.each do |company| %>
      <div class="company-card">
        <p><%= company.brand_name %></p>
        <p><%= company.email_domain%></p>
      </div>
    <% end %>
  <% else %>
    <p>No companies registered</p>
  <% end %>
</div>