<div class="index-vehicles">
  <div class="button-create-vehicle">
    <%= link_to '+ New Vehicle', new_company_vehicle_path(current_user.company.id) %>
  </div>
  <% @vehicles.each do |vehicle| %>
    <div class="vehicle-wrapper">
      <%= link_to "#{vehicle.brand} #{vehicle.model} - #{vehicle.year_of_fabrication}", vehicle_path(vehicle) %>
    </div>
  <% end %>
</div>